
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#loggedin {
  display: none;
}

#main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

a {
  color: #69707a !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.button {
  border-radius: 0 !important;
}
a:hover {
  color: black !important;
}

/* HEADER STYLES */
#header{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 80vw;
}

.item {
  height: 10vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 2px solid #69707a;
}

.clicker {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  width: 80vw;
  height: 10vh;
}

.appname {
  width: 40vw;
  height: 10vh;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #69707a;
  font-size: 3rem;
}

.middleware {
  width: 20vw;
  height: 10vh;
  border-bottom: 2px solid #69707a;
}

#userName{
  border-right: 1px solid #69707a;
  border-bottom: none;
}

#userProfilePic{
  border-radius: 50%;
  overflow-x: hidden;
}
.social-template{
  display: none;
}


/* MAIN BODY STYLES */
#bod {
  width: 80vw;
  height: 100vh;
}

#inside {
  position: relative;
  height: 90vh;
  width: 80vw;
}
#xout{
  position: absolute;
  top: .3em;
  right: .3em;
}

#xout:hover{
  cursor: pointer;
}

.otherUserTemp{
  display: none;
}

#otherUserModal{
  display:none;
  position: absolute;
  top: 0;
  z-index: 2;
}

.otherProfilePic{
  width: 100%;
}

#otherUserCard{
  text-align: center;
}

#contentWindow {
  position: absolute;
  top: 80vh;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#courtProfileModal{
  display: none;
  padding: 1em;
  width: 80vw;
  height: 40vh;
  z-index: 1;
}

#buttonText{
  font-weight: bold;
}

#arrow{
  font-size: 3em;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

#courtReviews {
  height: 35vh;
  overflow-y: scroll;
}
.review {
  margin-top: 1em;
  margin-bottom: 1em;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#map {
  width: 80vw;
  height: 90vh;
}

#courtInfoButton {
  width: 80vw;
  height: 10vh;
  border-top: 5px solid #69707a;
  background: -webkit-linear-gradient(rgba( 160,160,160,.5), rgba( 160,160,160,0));
  background: linear-gradient(rgba( 160,160,160,.5), rgba( 160,160,160,0));
}

/*MAP STYLES*/
#side{
  text-align: center;
  height: 100vh;
  width: 20vw;
  border-right: 1px solid #69707a;
}

.checkinPic{
  border-radius: 50%;
  height: 64px;
  overflow-x: hidden;
}

.checkinUsername {
  text-decoration: underline;
  color: #69707a;
  text-decoration-color: #69707a;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.checkinUsername:hover{
  cursor: pointer;
  color: black;
  text-decoration-color: black;
}

#top{
  height: 30vh;
  width: 20vw;
  border-bottom: 2px solid #69707a;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#middle {
  text-align: center;
  height: 15vh;
  width: 20vw;
  border-bottom: 2px solid #69707a;
}

.top-half{
  height: 11vh;
}

.bottom-half {
  height: 4vh;
}

#bottom {
  height: 55vh;
  width: 20vw;
}

#currentPlayersTitle{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-checkins {
  border-top: 2px solid #69707a;
  height: 45vh;
  padding: .5em;
  overflow-y: scroll;
}


#currentUserProfileModal{
  display: none;
  height: 100%;
  width: 100%;
}


#fullContent {
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 80vw;
  z-index: 0;
}



.container {
  display: flex;
  flex-flow: row;
}
.left-side {
  text-align: center;
  width: 40%;
  height: 80vh;
  background: white;
}
.right-side{
  text-align: center;
  width: 60%;
  height: 80vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.half{
  height: 50%;
  width: 100%;
}
.full-wide{
  display: flex;
  flex-flow: column;
  align-content: space-around;
  height: 100%;
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
}

.edit-name:hover{
  cursor:pointer;
  color: black;
}

.stylin:after{
  content: '';
  display: block;
  height: 5px;
  width: 0;
  background: transparent;
  transition: width 1s ease, background-color 1s ease;
}
.stylin:hover:after{
  width: 100%;
  background: black;
  transition: width 1s ease, background-color 1s ease;
}

.edit-name:after{
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.edit-name:hover:after{
  width: 100%;
  background: black;
  transition: width .5s ease, background-color .5s ease;
}

.custo{
  text-align: center;
  font-size: 2em;
  border: none;
  background: transparent;
  color: #69707a;
}
.custo:focus{
  color: black;
  outline: none;
}

.fixit{
  max-height: 25vh;
}

#updateProfileUrl{
  font-size: 1em;
  text-align: left;
}

.invert {
  color: white !important;
  border: 1px solid black !important;
}

.invert:hover{
  color: black !important;
  border: 1px solid black !important;
}

#clearUserCheckins{
  color: #69707a !important;
}
#clearUserCheckins:hover{
  color: black !important;
}

.edits {
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: center;
  padding-left: .5em;
  padding-right: .5em;
}

.third {
  width: 33%;
}
.fifty {
  width: 50%;
}
.two-third {
  width: 66%;
}
.hunnid {
  width: 100%;
}

.feed {
  height: 75vh;
  overflow-y: scroll;
}


.notShowing {
  display: none !important;
}

.friend-temp {
  display: flex;
  padding: .5em;
  border-bottom: 1px solid #69707a;
}

.friend-right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.friend-img{
  height: 20vh;
}

.friend-left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(120,120,120, .7);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* SPLASH PAGE STYLES*/
#splash-page {
  width: 100vw;
  height: 100vh;
  background: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#splash-contents{
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: column;
}


#head-title {
  color: White !important;
  font-size: 7em;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
