
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#loggedin {
  display: none;
}

#main {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

/* HEADER STYLES */
#header{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 80vw;
}

.item {
  height: 10vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
}

.appname {
  width: 60vw;
  height: 10vh;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  font-size: 4rem;
}

#userName{
  border-right: 1px solid black;
  border-bottom: none;
}
#userProfilePic{
  border-radius: 50%;
  overflow-x: hidden;
}

.item:link, .item:visited {
  color: black;
  text-decoration: none;
}

.social-template{
  display: none;
}


/* MAIN BODY STYLES */
#bod {
  width: 80vw;
  height: 100vh;
}


#userProfileModal{
  width: 80vw;
  height: 90vh;
  display: none;
}

#courtProfileModal{
  padding: 1em;
  width: 80vw;
  height: 90vh;
  /*display: none;*/
}

.review {
  margin-top: 1em;
  margin-bottom: 1em;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#map {
  display: none;
  width: 80vw;
  height: 90vh;
}

/*MAP STYLES*/
#side{
  text-align: center;
  height: 100vh;
  width: 20vw;
  border-right: 1px solid black;
}

.checkinPic{
  border-radius: 50%;
  height: 64px;
  overflow-x: hidden;
}

#top{
  height: 40vh;
  width: 20vw;
  border-bottom: 2px solid black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#middle {
  text-align: center;
  height: 20vh;
  width: 20vw;
  border-bottom: 2px solid black;
}

#bottom {
  height: 40vh;
  width: 20vw;
  overflow-y: scroll;
}
