<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Got Next</title>
  </head>
  <body>
    <header>
      <% include partials/loginheader %>
    </header>
    <section id='main'>

      <a href='/auth/facebook'>Login with Facebook</a>


      <footer>
        <% include partials/footer %>
      </footer> <!-- End of Footer -->
    </section>  <!-- End of #main Section -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
  </body>
</html>
