<div id='splash-page'>

  <div id='splash-contents'>
    <strong class='subtitle is-1' id='head-title'>Get Next</strong>
    <div id="status" class='hidden'>
    </div>
    <a class='button' onclick='fbFunctions.loginDefault()'>Log In With Default User</a>
    <fb:login-button data-size='large' scope="public_profile,email,user_friends" onlogin="fbFunctions.checkLoginState()">
      Log In with Facebook
    </fb:login-button>
  </div>

</div>
