<div id='main'>
  <div id='side'>
    <div id='top' class='card'>
      <img id='userProfilePic' class='image is-128x128'>
      <span class='col stylin'>
        <a class='item' onclick='modals.renderUserProfile()' id='userName'></a>
      </span>
    </div> <!-- Current User info -->

    <div id='middle'>
      <div class='top-half'>
        <h1 class='title is-4' id='courtStatus'>Home Court</h1>
        <p class='subtitle is-5' id='courtName'></p>
        <span class='hidden' id='courtID'></span>
      </div>
      <div class='bottom-half'>
      </div>
    </div> <!-- The Court Name -->

    <div id='bottom'>
      <section id='currentPlayersTitle'>
        <p class='title is-4'>Current Players</p>
      </section>
      <div id='current-checkins'></div> <!-- Current Checkins -->
    </div><!-- Bottom - Who is checked in -->
  </div> <!-- Sidebar -->
  <div id='bod'>
    <div id='header'>
      <a class='appname'>Got Next</a>
      <div class='middleware'></div>
      <a onclick='fbFunctions.logoutUser()' class='item'>Logout</a>
    </div> <!-- Header -->



    <div id='inside'>
      <div id='otherUserModal'>
      </div> <!-- Other Users Modal -->
      <div id='fullContent'>
        <div id='map'></div><!-- Map -->
        <div id='currentUserProfileModal'>
          <div class="container">
            <div class="left-side">
              <p class='title'> User Friends </p>
              <div id='feed'>

              </div>
            </div>
            <div class="right-side">
              <div class="half">
                <p class='title'>Your Information</p>
                <section class='full-wide'>
                  <p class='control edits'>
                    <span class='subtitle is-3 fifty edit-name'>Change Your Name</span>
                    <span class='fifty edit-name'><input class='custo' type='text' id='currentUserDisplayName' placeholder='User Name'></span>
                  </p>
                  <p class='control edits'>
                    <span class='subtitle is-3 fifty edit-name'>Change Your Email</span>
                    <span class='fifty edit-name'><input class='custo' type='email' id="currentUserEmail" placeholder='User Email'></span>
                  </p>
                  <p class='control edits'>
                    <span class='fifty subtitle is-3'>Your Home Court: </span><span class='fifty subtitle is-3' id='currentUserHomeCourt'></span>
                  </p>
                </section>
              </div>
              <div class="half">
                <section class='full-wide'>
                  <p class='control edits'>
                    <span class='fifty edit-name'>
                      <img class='fixit' id='currentUserProfilePicture'>
                    </span>
                    <span class='col'>
                      <span class='edit-name subtitle is-3'>Edit Profile Picture</span>
                      <span class='edit-name'><input class='custo' type='text' id='updateProfileUrl' placeholder='Profile Picture URL'></span>
                      <a class='button' id='viewImage' onclick='modals.showNewImageLink()'>View Image</a>
                      <a class='button' id='resetImage' onclick='modals.resetImage()'>Reset Image</a>
                    </span>
                  </p>
                  <p class='control edits'>
                    <span class='col fifty'>
                      <a class='button is-danger invert' onclick='modals.showDeleteModal()' id='deleteUserButton'>Delete Account</a>
                      <span>Back To Hoop Dreaming</span>
                    </span>
                    <span class='col fifty'>
                      <a class='button is-dark invert' onclick='modals.updateUser()' id='updateUserButton'>Update Account</a>
                      <span>Fix Ya Up Right Quick</span>
                    </span>
                  </p>
                </section>
              </div>
            </div>
          </div>
        </div><!-- User Profile Modal -->
      </div>
      <!-- Single Court Info Modal -->
      <div id='contentWindow'>
        <a class='clicker dark' id='courtInfoButton' onclick='modals.openMoreInfo()'><i id='arrow' class='fa fa-chevron-up'></i></a>
        <div id='courtProfileModal'>
          <div class='tile is-ancestor'>
            <div class='tile is-vertical is-12'>
              <div class='tile'>
                <div class='tile is-parent is-vertical'>
                  <article class='tile is-child notification is-dark'>
                    <p class='title is-2' id='modalName'> Court Name </p>
                    <p class='subtitle is-4' id='modalAddress'></p>
                    <p class='subtitle is-5' id='modalRating'></p>
                  </article>
                </div> <!-- Court Name Tile -->
                <div class='tile is-parent'>
                  <article class='tile is-child notification is-dark' id='courtReviews'>
                    <p class='title is-3'> Court Reviews </p>
                    <div id='modalReviews'></div>
                  </article>
                </div><!-- Court Reviews Tile -->
              </div> <!-- Tile -->
            </div><!-- Vertical Tile -->
          </div> <!-- Ancestor Tile -->
        </div> <!-- Court Profile Modal-->
      </div> <!-- content Window -->
    </div> <!-- Inside -->
  </div> <!-- Bod -->
</div>


<div class='otherUserTemp'>
  <div class='card' id='otherUserCard'>
    <div class='card-image'>
      <figure class='image is1by1'>
        <img id='otherProfilePic' src=''></figure>
      </figure>
      <span class='hidden' id='otherUserID'></span>
      <i class='fa fa-close fa-2x' id='xout'></i>
    </div> <!-- Card Image -->
    <div class='card-content'>
      <div class='content'>
        <p class='subtitle is-3' id='otherUserName'></p>
        <p class='subtitle is-4' id='otherHomeCourt'></p>
      </div> <!-- content -->
    </div> <!-- card content -->
    <div class='card-footer'>
      <a onclick='users.addToFriends( this )' id='friendButton' class='card-footer-item'>Add to Friends</a>
      <a onclick='users.sendMessage()' id='messageButton' class='card-footer-item'>Send Message</a>
    </div> <!-- card footer -->
  </div> <!-- Card -->
</div>

<!-- Mad Templates Down Here Yo  -->

<!-- <div class='friend-temp notShowing'>
  <section class='friend-left'>
    <div class='hunnid'>
      <img class='friend-img'>
    </div>
  </section>
  <section class='friend-right'>
    <p class='title is-4 friendName'></p>
    <a class='button hunnid'>Send Message</a>
    <a class='button hunnid'>Delete Friend</a>
  </section>
</div> -->


<div class='modal notShowing' id='areyousure'>
  <div class='box'>
    <p class='title is-1'> ARE YOU SURE YOU WANT TO STOP BALLIN?</p>
    <div class='buttons'>
      <a class='button is-danger' onclick='modals.deleteUser()' >Delete FOREVER</a>
      <a class='button is-success' onclick='modals.closeDeleteModal()' >Stick Around A Minute</a>
    </div>
  </div>
</div>



<div class='media social-template'>
  <figure class="media-left">
    <p class="image is-64x64">
      <img class='checkinPic'>
      <!-- Facebook Profile Image -->
    </p>
  </figure>
  <div class='media-content'>
    <div class='content'>
      <!-- Facebook Name -->
      <p>
        <strong onclick='modals.openOtherUsers( this )'>
          <span class='checkinUsername'></span>
          <span class='hidden checkinUserId'></span>
        </strong>
        <br>
        <span class='checkinTime'></span>
      </p>
      <a class='deleteCheckin checkinId' onclick='checkins.deleteCheckin(this)'>Delete</a>
      <!-- Parse this to a real time -->
    </div>
  </div>
</div>
