<div id='header'>
  <!-- <div class='item'>Home</div>
  <div class='item'>Find</div>
  <div class='item'>Checkin</div>
  <div class='item'>Tips</div>
  <div class='item'>Login</div> -->
  <a href='' class='item'>Home</a>
  <a href='' class='item'>Find</a>
  <a href='' class='item'>Checkin</a>
  <a href='' class='item'>Tips</a>
  <a href='' class='item'>Login</a>
</div>
