<div id='header'>
  <a href='' class='item'>MAP</a>
  <a href='' class='item'>TIPS</a>
  <a href='' class='item'>GOT NEXT</a>
  <a href='' class='item'>PROFILE</a>
  <a href='/logout' class='item'>LOGOUT</a>
</div>
