* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: coral;
}


/* HEADER STYLES */
#header{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
}

.item {
  border: 1px solid black;
  height: 10vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.item:link, .item:visited {
  color: black;
  text-decoration: none;
}


/* FOOTER STYLES */
.row {
  width: 100vw;
}
.third {
  width: 33.3vw;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid black;
  height: 10vh;
}

/* MAIN BODY STYLES */
#main {
  height: 90vh;
  width: 100vw;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}

/*MAP STYLES*/
#side{
  height: 90vh;
  width: 20vw;
  border-right: 2px solid black;
}

#top{
  height: 45vh;
  width: 20vw;
  border-bottom: 2px solid black;
}

#bottom {
  height: 45vh;
  width: 20vw;
}

#map {
  width: 80vw;
  height: 100%;
}
